@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: -webkit-linear-gradient(
      171deg,
      #121212,
      #181818
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      171deg,
      #121212,
      #181818
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
